@{
    ViewBag.Title = "About";
    ViewBag.Message = "More information about TripTrakr";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>TripTrakr is undergoing improvements, check back soon for new features such as adding photos to your trips!</p>
