@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TripTrakr</h1>
    <p class="lead">TripTrakr is a simple web app for users to add and organize their international travels by country, companions, and times, to aid in remembering them.</p>
    <p><a href="https://triptrakr.azurewebsites.net/Trip
" class="btn btn-primary btn-lg">Trips &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Getting started</h2>
        <p>
            Using TripTrakr is easy!
            1. Register for a new account or log in to an existing account.
            2. Add countries you've travelled to.
            3. Add people you've travelled with or visited on your trips.
            4. Add trips to your collection, incorporating the people and countries you've already added, and including dates, special places, and memories of your trips.
            5. Once you've added your information, you can sort and view by different categories, and edit or remove any that you no longer wish to track.
        </p>
        <p><a class="btn btn-default" href="https://triptrakr.azurewebsites.net/Person
">Get Started &raquo;</a></p>
    </div>
    
</div>